@charset "utf-8";
/******loginwrap******/
#loginwrap{height:397px;padding:44px 0;background:#E3E3E3;}
#login{width:980px;height:397px;margin:0 auto;}
#login .left{display:block;width:547px;float:left;}
#login .right{width:360px;height:355px;padding:20px 0;border:1px solid #CCC;float:right;background:#fff;}
#login .right .loginform{padding:0 25px 15px 30px;}
#login .right .logintitle{height:21px;margin-bottom:23px;}
#login .right .logintitle h2{color: #333;float: left;font: 18px microsoft yahei;}
#login .right .logintitle .zc{float:right;}
#login .user{height:57px;position:relative;text-align:center;}
#login .user i{width: 30px;height: 33px;display: inline-block;background-position: 0 0;vertical-align: middle;background: url(../images/login_icon.png) no-repeat center top;}
#login .user input{width:250px;height:31px;vertical-align: middle;margin-left:-4px;outline:none;border:1px solid #CFCFCF;text-indent:5px;line-height:31px;}
#login .right .psd{position:relative;}
#login .username .unicon{background-position:center top;}
#login .psd .psdicon{background-position:center -59px;}
#login .right .psd .login_error{width:275px;display:inline-block;padding-left:17px;vertical-align: middle;position:absolute;left:10px;top:35px;text-align:left;color:red;background:url(../images/icon_logoin_s.png) no-repeat 0 -39px;display:none;}
#login .right .loginsafe{overflow:hidden;}
#login .right .loginsafe .safe{display:inline-block;width:73px;height:15px;color:#039;line-height:normal;float:left;text-align:center;}
#login .right .loginsafe .forget{display:inline-block;width:73px;height:15px;color:#039;line-height:normal;float:right;text-align:center;}
#login .right .loginbtn{text-align:center;}
#login .right .loginbtn a{display:inline-block;width:240px;height:30px;line-height:30px;text-align:center;padding:0 19px;margin-top:10px;font-size:14px;font-weight:border;color:#fff;background:#f7661f;border:1px solid #f7661f;}
#login .right .loginbtn a:hover{background:#ff971c;border-color:#ff971c;}
